/* General styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1em 0;
}

h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
}

/* Header styles */
header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 1rem;
    padding: 1rem;
}

.headerInfo {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.headerInfo-search {
    display: flex;
}

.headerInfo-user {
    display: flex;
    justify-content: space-around;
}

.headerActions {
    display: flex;
    align-items: center;
}

#search {
    border-radius: 20px;
    flex: 1;
    margin: 0 2rem;
}

.hello {
    margin-right: auto;
}

header .buttons {
    display: flex;
    justify-content: space-around;
    width: 20%;
}


/* Nav (sidebar) styles */
nav {
    background: rgb(29, 153, 255);
    color: #fff;
    grid-row: 1 / 3;
    padding: 0 0 0 3rem;
}

nav ul {
    margin-bottom: 3em;
}

nav ul li {
    margin-bottom: 1em;
}

.dashboardHeader, nav ul li {
    display: flex;
    align-items: center;
}

nav img {
    margin-right: 1rem;
}

/* Main content styles */
main {
    background-color: #e9edf9;
    display: grid;
    grid-column: 2;
    grid-template-columns: 2fr 1fr;
    padding: 1rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

section {
    padding-right: 1rem;
}

.trendingContainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.trending-user {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
