body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.container > * {
    border: 1px solid red;
}

nav {
    grid-row: 1 / 3;
}

main {
    grid-column: 2;
}