/* General styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100vh;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1em 0;
}

h2, h3, h4 {
    color: #333;
    margin: 0.5em 0;
}

h3 {
    font-size: 1.2rem;
}


.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}

/* Header styles */
header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 1rem;
    padding: 1rem;
}

.headerInfo {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.headerInfo-search {
    display: flex;
}

.headerInfo-user {
    display: flex;
    justify-content: space-around;
}

.headerActions {
    display: flex;
    align-items: center;
}

#search {
    border-radius: 20px;
    flex: 1;
    margin: 0 2rem;
}

.hello {
    margin-right: auto;
}

header .buttons {
    display: flex;
    justify-content: space-around;
    width: 20%;
}


/* Nav (sidebar) styles */
.dashboardHeader {
    margin-bottom: 2rem;
}

.dashboardHeader, nav ul li {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.dashboardHeader h1 {
    font-size: 1.75rem;
    margin-top: 0.75em;
}

nav {
    background: rgb(29, 153, 255);
    color: #fff;
    display: flex;
    flex-direction: column;
    grid-row: 1 / 3;
    padding: 0 0 0 2rem;
}

nav ul {
    margin-bottom: 3em;
}

nav ul li {
    font-size: 1.3rem;
    margin-bottom: 1em;
}

nav img {
    justify-self: center;
}


/* Main content styles */
.announcements-container, .trending-container {
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
}

.announcements p {
    color: #888;
    margin-top: 0;
}

.announcements-item {
    border-bottom: 2px solid #e5e5e5;
}

.announcements-item:last-child {
    border: 0;
}

article {
    background-color: #fff;
    border-left: 8px solid gold;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.article-title, .article-text {
    grid-column: 1 / -1;
}

.article-text {
    color: #888;
}

.article-actions {  
    display: grid;
    gap: 1rem;
    grid-column: 2;
    grid-template-columns: repeat(3, 2fr);
    justify-content: space-around;
    justify-self: end;
    margin: 1rem;
}

main {
    background-color: #e9edf9;
    display: grid;
    gap: 2rem;
    grid-column: 2;
    grid-template-columns: 3fr 1fr;
    padding: 2rem;
}

main h1 {
    color: #333;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.trending {
    margin-top: 2rem;
}

.trending-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.trending-user {
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: 40px 8fr;
}

.trending-user img {
    width: 40px;
}